 <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text ">
              <figure>
                <img src="images/about.svg" alt="herosection_image">
              </figure>
            </div>
            
            {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1>WE ARE PROFESSIONAL CONSULTANTS</h1>
              <p>Welcome To <span class="bold-style"> Technovate </span>
              We Are A Team Of Professional Consultants Who Help Businesses Achieve Their Goals. We Have A Wealth Of Experience In A Variety Of Industries, And We Are Passionate About Helping Businesses Succeed. We Offer A Wide Range Of Services, Including Business Consulting, IT Consulting, And Marketing Consulting. We Work With Businesses Of All Sizes, And We Are Always Looking For New Ways To Help Our Clients Succeed.
              </p>
              <button class="btn-style btn-primary">Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>