<div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact us</h1>
            <p class="text-center sub-heading">
                We will be happy to help you
            </p>
       
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <form action="/contact" method="POST">
                <div class="form-group">
                    <label for="exampleInputContact11" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputContact11" placeholder="Enter your name" name="name" autocomplete="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email" aria-describedby="emailHelp" name="email" autocomplete="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone11" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="exampleInputPhone11" placeholder="Enter your phone number" name="phone" autocomplete="tel">
                </div>
                <div class="form-group">
                    <label for="exampleInputMessage11" class="form-label">Message</label>
                    <input type="text" class="form-control" id="exampleInputMessage11" placeholder="Message" name="message" autocomplete="off">
                </div>
                <div>
                    <button type="submit" class="btn-style btn-primary">Submit</button>
               </div>
            </form>
        </div>
    </div>
</div>
 </div>
    </div>
